<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div class="footer-social-wrapper">
        <a href="index.html" class="footer-logo">
          <img class="footer-logo-icon" src="./img/logo.svg" alt="Logo" />
        </a>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon" width="32" height="32">
                <use href="./img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon" width="32" height="32">
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://x.com/" class="footer-social-link" target="_blank">
              <svg class="footer-social-icon" width="32" height="32">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.linkedin.com/"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon" width="32" height="32">
                <use href="./img/icons.svg#linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon" width="32" height="32">
                <use href="./img/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#about" class="footer-nav-link text-decoration-transition"
              >About us</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="#benefits"
              class="footer-nav-link text-decoration-transition"
              >Benefits</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="#gallery"
              class="footer-nav-link text-decoration-transition"
              >Gallery</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="#testimonial"
              class="footer-nav-link text-decoration-transition"
              >Testimonials</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="#contact"
              class="footer-nav-link text-decoration-transition"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-text">
        &#169;2025 Handmade Jewelry. All rights reserved.
      </p>
    </div>
  </div>
</footer>
