<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Jewelry Showcase</h2>
    <p class="gallery-descr">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/webp/beads.webp    1x,
              img/gallery/desktop/webp/beads@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/jpg/beads.jpg    1x,
              img/gallery/desktop/jpg/beads@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/webp/beads.webp    1x,
              img/gallery/tablet/webp/beads@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/jpg/beads.jpg    1x,
              img/gallery/tablet/jpg/beads@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/webp/beads.webp    1x,
              img/gallery/mobile/webp/beads@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/jpg/beads.jpg    1x,
              img/gallery/mobile/jpg/beads@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="img/gallery/mobile/jpg/beads.jpg"
            alt="beads image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/webp/pendant.webp    1x,
              img/gallery/desktop/webp/pendant@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/jpg/pendant.jpg    1x,
              img/gallery/desktop/jpg/pendant@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/webp/pendant.webp    1x,
              img/gallery/tablet/webp/pendant@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/jpg/pendant.jpg    1x,
              img/gallery/tablet/jpg/pendant@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/webp/pendant.webp    1x,
              img/gallery/mobile/webp/pendant@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/jpg/pendant.jpg    1x,
              img/gallery/mobile/jpg/pendant@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="img/gallery/mobile/jpg/pendant.jpg"
            alt="pendant image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/webp/neck.webp    1x,
              img/gallery/desktop/webp/neck@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/jpg/neck.jpg    1x,
              img/gallery/desktop/jpg/neck@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/webp/neck.webp    1x,
              img/gallery/tablet/webp/neck@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/jpg/neck.jpg    1x,
              img/gallery/tablet/jpg/neck@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/webp/neck.webp    1x,
              img/gallery/mobile/webp/neck@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/jpg/neck.jpg    1x,
              img/gallery/mobile/jpg/neck@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="img/gallery/mobile/jpg/neck.jpg"
            alt="neck with beads image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/webp/earrings.webp    1x,
              img/gallery/desktop/webp/earrings@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
              img/gallery/desktop/jpg/earrings.jpg    1x,
              img/gallery/desktop/jpg/earrings@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/webp/earrings.webp    1x,
              img/gallery/tablet/webp/earrings@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/gallery/tablet/jpg/earrings.jpg    1x,
              img/gallery/tablet/jpg/earrings@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/webp/earrings.webp    1x,
              img/gallery/mobile/webp/earrings@2x.webp 2x
            "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
              img/gallery/mobile/jpg/earrings.jpg    1x,
              img/gallery/mobile/jpg/earrings@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="img/gallery/mobile/jpg/earrings.jpg"
            alt="earrings image"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
