<section class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Customer testimonials</h2>
    <p class="testimonials-description">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/webp-tablet/1_tb_@1x.webp 1x,
              ../img/testimonials/webp-tablet/1_tb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/tablet/1_tb_@1x.jpg 1x,
              ../img/testimonials/tablet/1_tb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            srcset="
              ../img/testimonials/webp-mobile/1_mb_@1x.webp 1x,
              ../img/testimonials/webp-mobile/1_mb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ../img/testimonials/mobile/1_mb_@1x.jpg 1x,
              ../img/testimonials/mobile/1_mb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="testimonials-image"
            src="../img/testimonials/mobile/1_mb_@1x.jpg"
            alt="Close-up of a smiling woman wearing a handmade drop earring"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/webp-tablet/2_tb_@1x.webp 1x,
              ../img/testimonials/webp-tablet/2_tb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/tablet/2_tb_@1x.jpg 1x,
              ../img/testimonials/tablet/2_tb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            srcset="
              ../img/testimonials/webp-mobile/2_mb_@1x.webp 1x,
              ../img/testimonials/webp-mobile/2_mb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ../img/testimonials/mobile/2_mb_@1x.jpg 1x,
              ../img/testimonials/mobile/2_mb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="testimonials-image"
            src="../img/testimonials/mobile/2_mb_@1x.jpg"
            alt="Man holding a handcrafted stone pendant necklace"
          />
        </picture>
        <div class="testimonials-content">
          <span class="testimonials-rate">
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
          </span>
          <blockquote class="testimonials-text">
            "Each piece tells a story, and I love mine!"
          </blockquote>
          <p class="testimonials-author">Name Surname</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-content">
          <span class="testimonials-rate">
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
            <svg class="testimonials-icon" width="24" height="24">
              <use href="../img/icons.svg#star"></use>
            </svg>
          </span>
          <blockquote class="testimonials-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </blockquote>
          <p class="testimonials-author">Name Surname</p>
        </div>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/webp-tablet/3_tb_@1x.webp 1x,
              ../img/testimonials/webp-tablet/3_tb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/tablet/3_tb_@1x.jpg 1x,
              ../img/testimonials/tablet/3_tb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            srcset="
              ../img/testimonials/webp-mobile/3_mb_@1x.webp 1x,
              ../img/testimonials/webp-mobile/3_mb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ../img/testimonials/mobile/3_mb_@1x.jpg 1x,
              ../img/testimonials/mobile/3_mb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="testimonials-image"
            src="../img/testimonials/mobile/3_mb_@1x.jpg"
            alt="Top view of hands holding a coffee mug and wearing a minimalist bracelet"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/webp-tablet/4_tb_@1x.webp 1x,
              ../img/testimonials/webp-tablet/4_tb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/testimonials/tablet/4_tb_@1x.jpg 1x,
              ../img/testimonials/tablet/4_tb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            srcset="
              ../img/testimonials/webp-mobile/4_mb_@1x.webp 1x,
              ../img/testimonials/webp-mobile/4_mb_@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ../img/testimonials/mobile/4_mb_@1x.jpg 1x,
              ../img/testimonials/mobile/4_mb_@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="testimonials-image"
            src="../img/testimonials/mobile/4_mb_@1x.jpg"
            alt="Close-up of hands holding and displaying a silver gemstone ring"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
